@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Thank You for this Challenge!</h1>
</div>
<div>
    <p> I See many solutions. This is most simple.</p>
</div>
